@using Resqu.Core.Entities
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="investyield, savings, investment, financial savings, investment opportunities">

    <!-- Title Page-->
    <title>@ViewBag.Title</title>

    <!-- Fontfaces CSS-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <!-- <link href="~/dashboard/assets/css/font-face.css" rel="stylesheet" media="all"> -->
    <link href="~/dashboard/assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/dashboard/assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/dashboard/assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/dashboard/assets/vendor/wow/animate.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/dashboard/assets/css/style.css" rel="stylesheet" media="all">
    <style>
        .log-out-btn {
            position: absolute;
            bottom: 25%;
            width: 100%;
        }
    </style>

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/dashboard/assets/images/rezQ-logo.svg" alt="InvestYield" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        @foreach (RoleUrl item in ViewBag.ServicePageUrls)
                        {
            <li class="has-sub">
                <a asp-action="@item.ActionName" asp-controller="@item.ControllerName" class="@item.PageUrlClass">
                    <i class="@item.PageName"></i>@item.PageName
                </a>
                @*<a class="@item.PageUrlClass" href="@item.PageUrl">
                    <i data-feather="Dashboard" class="@item.PageNameClass"></i>@item.PageName
                </a>*@
            </li>
                            <br />
}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/dashboard/assets/images/rezQ-logo.svg" alt="investYield" />
                </a>
            </div>
            <div class="px-4 mt-4">
                <button class="btn btn-addNewVendor d-flex justify-content-between align-items-center">
                    <span class="px-2 col-lg-4">Add new vendor</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                        <g id="Group_4794" data-name="Group 4794" transform="translate(-217 -163)">
                            <circle id="Ellipse_376" data-name="Ellipse 376" cx="24" cy="24" r="24"
                                    transform="translate(217 163)" fill="#5fb47d" />
                            <text id="_" data-name="+" transform="translate(232 199)" fill="#fff" font-size="35"
                                  font-family="Effra-Regular, Effra">
                                <tspan x="0" y="0">+</tspan>
                            </text>
                        </g>
                    </svg>
                </button>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @foreach (RoleUrl item in ViewBag.ServicePageUrls)
                        {
            <li class="has-sub">
                <a asp-action="@item.ActionName" asp-controller="@item.ControllerName" class="@item.PageUrlClass">
                    <i class="@item.PageName"></i>@item.PageName
                </a>
                @*<a class="@item.PageUrlClass" href="@item.PageUrl">
                    <i data-feather="Dashboard" class="@item.PageNameClass"></i>@item.PageName
                </a>*@
            </li>
                            <br />
}
                        <li class="log-out-btn mb-3">
                            <div class="p-4 profile-settings">
                                <div class="d-flex align-items-center">
                                    <img src="~/images/@ViewBag.ProfilePicture" class="img-fluid" alt="" width="52" height="52" style="border-radius:50px">
                                    <div class="px-2">
                                        <p class="font-sm3">@ViewBag.FullName</p>
                                        <a href="#" class="font-sm3 text-light">Profile settings</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <div class="page-container">
            @RenderBody()
        </div>

        
        <!-- Jquery JS-->
        <script src="~/dashboard/assets/vendor/jquery-3.2.1.min.js"></script>
        <!-- Bootstrap JS-->
        <script src="~/dashboard/assets/vendor/bootstrap-4.1/popper.min.js"></script>
        <script src="~/dashboard/assets/vendor/bootstrap-4.1/bootstrap.js"></script>
        <script src="https://unpkg.com/feather-icons"></script>
        <!-- Vendor JS       -->
        <script src="~/dashboard/assets/vendor/slick/slick.min.js"></script>
        <script script type='text/javascript' src='~/dashboard/assets/js/swiper.min.js'></script>
        <script src="~/dashboard/assets/vendor/wow/wow.min.js"></script>
        <script src="~/dashboard/assets/vendor/animsition/animsition.min.js"></script>
        <script src="~/dashboard/assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
        <script src="~/dashboard/assets/vendor/counter-up/jquery.waypoints.min.js"></script>
        <script src="~/dashboard/assets/vendor/counter-up/jquery.counterup.min.js"></script>
        <script src="~/dashboard/assets/vendor/circle-progress/circle-progress.min.js"></script>
        <script src="~/dashboard/assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
        <script src="~/dashboard/assets/vendor/chartjs/Chart.bundle.min.js"></script>
        <script src="~/dashboard/assets/vendor/select2/select2.min.js"></script>

        <!-- Main JS-->
        <script src="~/dashboard/assets/js/main.js"></script>
        <script src="~/dashboard/assets/js/custom.js"></script>
        <script src="~/dashboard/assets/js/trigger.js"></script>

        <script>feather.replace()</script>
        <script>
            $('#openFileUpload').click(function () { $('#fileUpload').trigger('click'); });
        </script>
        <script>
            $(document).ready(function () {
                $('input[type="radio"]').click(function () {
                    var inputValue = $(this).attr("value");
                    var targetBox = $("." + inputValue);
                    console.log(targetBox);


                    $(".box").not(targetBox).hide();
                    $(targetBox).show();
                    $(targetBox).style.display = "flex";
                });
            });</script>

        <script>
            $('.modal-auto-clear').on('shown.bs.modal', function (e) {
                console.log(e.target)
                //debugger;
                //$("#cancel").click(function () {
                //    console.log("cancelled");
                //});  

                //$("#confirm").click(function () {
                //    console.log("confirmed");
                //}); 
               
                $(this).delay(1000).fadeOut(200, function () {
                    $(this).modal('hide');
                });
            })
        </script>

</body>

</html>
