@model IEnumerable<Resqu.Core.Entities.Customer>

@{
    ViewData["Title"] = "GetAllCustomers";
    Layout = "~/Views/Shared/_LayoutServices.cshtml";
}

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 mt-4">
                <h4>Customers</h4>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="bg-white add-service-div p-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-4 col-xl-3">
                            @*<div class="row align-items-center">
                                    <div class="col-lg-3">
                                        <h6>Filter:</h6>
                                    </div>
                                    <div class="col-lg-6 col-xl-5 px-0">
                                        <div class="form-group mb-0">
                                            <select class="filter-field"></select>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        <div class="col-lg-3">
                            <h4 class="text-center">TOTAL: @Model.Count() Customers</h4>
                        </div>
                        <div class="col-lg-5 col-xl-5">
                            @*<div class="row">
                                    <div class="col-lg-8">
                                        <input type="text" class="input-field-search">
                                    </div>
                                    <div class="col-lg-4">
                                        <button class="btn btn-search">Search</button>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="bg-white py-5 mb-5">
                    <div class="table-responsive">
                        <!--<table>-->
                            @*<tbody>
                                <tr>
                                    <td>Start Date:</td>
                                    <td><input type="date" id="min" name="min"></td>
                                </tr>
                                <tr>
                                    <td>End Date:</td>
                                    <td><input type="date" id="max" name="max"></td>
                                </tr>
                            </tbody>*@
                        <!--</table>-->
                        <table class="table table-vendors" id="table_id">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Customer’s Name</th>
                                    <th>Gender</th>
                                    <th>Phone Number</th>
                                    <th>Email Address</th>
                                    @*<th>Completed Requests</th>*@
                                    <th>Last Logged In</th>
                                    <th>Last Service Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int index = 0;}
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @{index++;}
                                            @index
                                        </td>
                                        <td>@item.FirstName   @item.LastName</td>
                                        <td>@item.Gender</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>@item.EmailAddress</td>
                                        <!--<td>-->@*<a href="#" class="text-blue" data-toggle="modal" data-target="#completed-request-history">150</a>*@<!--</td>-->
                                        <td>@item.LastLoginDate.ToString("dd/MM/yyyy") <span class="px-2">@item.LastLoginDate.TimeOfDay.ToString()</span></td>
                                        <td>@item.LastServiceDate.ToString("dd/MM/yyyy") <span class="px-2">@item.LastServiceDate.TimeOfDay.ToString()</span></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


